* {
    margin: 0;
    box-sizing: border-box;
  }

body {
   
    background-image: url('../img/Animation.mp4');
    background-size: cover;
    background-position: center;
    background-color: #f9f0e0;
     z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    margin: 0;
  }
  
  /* Container zentriert und Spaltenlayout */
  .container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    text-align: center;
    padding: 4rem 2rem;
    max-width: 1000px;
    width: 100%;
    overflow: hidden;
    gap: 2rem; 
  }
  
  /* Überschrift */
  h1 {
    font-size: 2.8rem;
    font-weight: 700;
    color: #000;
    margin: 0;
  }
  
  /* Datumseingabe */
  .input-group {
    position: relative;
  }
  
  input[type="date"] {
    padding: 0.6rem 1rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1rem;
    outline: none;
  }
  
  /* Buttons nebeneinander, zentriert */
  .buttons {
    display: flex;
    flex-direction: row; /* nebeneinander */
    justify-content: center;
    align-items: center;
    gap: 1rem; /* Abstand zwischen Buttons */
  }
  
  .city-button {
    background: transparent;
    border: 1.5px solid #000;
    border-radius: 999px;
    padding: 0.6rem 2.5rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .city-button:hover {
    background: #000;
    color: #fff;
  }
  
  
  /* Wetteranzeige unten */
  #wetter-anzeige {
    margin-top: 1rem;
    font-size: 1.1rem;
    line-height: 1.5;
    text-align: center;
  }

  #temperatur-anzeige {
    margin-top: 1rem;
  }

/* Detail Seite */


#weather-card{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
}

.top-bar {
    height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.top-left{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.date {
color: #000;
font-family: "Poppins", sans-serif;
font-size: 2.5rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.location {
color: #000;
font-family: "Poppins", sans-serif;
font-size: 2.5rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.zuruck-btn {
    background: transparent;
    border: 1.5px solid #000;
    border-radius: 999px;
    padding: 0.6rem 2.5rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}
  
.zuruck-btn:hover {
    background: #000;
    color: #fff;
}    

.backBtn {
    color: #000;
    font-family: Montserrat;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;}

.bottom-bar {
    height: 50vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 20px;
}

#wetter-anzeige h2 {
    color: #000;
    font-family: "Poppins", sans-serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 0;
    white-space: pre;
  }

  #temperatur-anzeige-text {
    font-size: 2.5rem;
    font-weight: 400;
    color: #000;
    font-family: "Poppins", sans-serif;
  }

/* Hintergrundbilder für verschiedene Wetterbedingungen */

#weather-card.regnerisch > #background-image {
   background-image: url('../img/regnerisch.png');
    background-size: cover;
    background-position: center;
    z-index: 1;
} 

#weather-card.bewölkt > #background-image {
    background-image: url('../img/wolkig.png');
     background-size: cover;
     background-position: center;
     z-index: 1;
 } 

 #weather-card.schnee > #background-image {
    background-image: url('../img/schnee.png');
     background-size: cover;
     background-position: center;
     z-index: 1;
 } 

 #weather-card.sonnig > #background-image {
    background-image: url('../img/sonnig.png');
     background-size: cover;
     background-position: center;
     z-index: 1;
 } 

 #weather-card.gewitter > #background-image {
    background-image: url('../img/gewitter.png');
     background-size: cover;
     background-position: center;
     z-index: 1;
 } 

 #weather-card.sturm > #background-image {
    background-image: url('../img/sturm.png');
     background-size: cover;
     background-position: center;
     z-index: 1;
 } 

/* ======= Responsive Design ======= */

@media (max-width: 640px){

    body {
   
        background-image: url('../img/reshome.png');
        background-size: cover;
        background-position: center;

      }

    h1 {
        font-size: 2.5em;
        font-weight: 700;
        color: #000;
        margin: 0;
      }
    
      /* Wetteranzeige unten */
      #wetter-anzeige {
        margin-top: 1rem;
        font-size: 1.1rem;
        line-height: 1.5;
        text-align: center;
      }
    
      #temperatur-anzeige {
        margin-top: 1rem;
      }
    
    /* Detail Seite */
    
  
    
    .date {
    color: #000;
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
    
    .location {
    color: #000;
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
    
    .zuruck-btn {
        background: transparent;
        border: 1.5px solid #000;
        border-radius: 999px;
        padding: 0.5rem 0.3rem;
        margin-top: -0.3rem;
        font-size: 1rem;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.3s ease;
    }
      
    .zuruck-btn:hover {
        background: #000;
        color: #fff;
    }    
    
    .backBtn {
        color: #000;
        font-family: Montserrat;
        font-size: 0.9rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;}
    
    
    #wetter-anzeige h2 {
        color: #000;
        font-family: "Poppins", sans-serif;
        font-size: 2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2rem;
        margin-bottom: 0;
        white-space: pre;
      }
    
      #temperatur-anzeige-text {
        font-size: 2.1rem;
        font-weight: 400;
        color: #000;
        font-family: "Poppins", sans-serif;
      }
    
    /* Hintergrundbilder für verschiedene Wetterbedingungen */
    
    #weather-card.regnerisch > #background-image {
       background-image: url('../img/resregen.png');
        background-size: cover;
        background-position: center;
        z-index: 1;
    } 
    
    #weather-card.bewölkt > #background-image {
        background-image: url('../img/reswolke.png');
         background-size: cover;
         background-position: center;
         z-index: 1;
     } 
    
     #weather-card.schnee > #background-image {
        background-image: url('../img/resschnee.png');
         background-size: cover;
         background-position: center;
         z-index: 1;
     } 
    
     #weather-card.sonnig > #background-image {
        background-image: url('../img/ressonne.png');
         background-size: cover;
         background-position: center;
         z-index: 1;
     } 
    
     #weather-card.gewitter > #background-image {
        background-image: url('../img/resgewitter.png');
         background-size: cover;
         background-position: center;
         z-index: 1;
     } 
    
     #weather-card.sturm > #background-image {
        background-image: url('../img/ressturm.png');
         background-size: cover;
         background-position: center;
         z-index: 1;
     } 





}
